*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
}

body{
    height: 100vh;
    background-color: #131722;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h1{
    color: #fff;
    margin-bottom: 30px;
    letter-spacing: 2.5px;
    font-size: 40px;
    z-index: 0;
    user-select: none;
}

.container-bar{
    background-color: #fff;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50px;
    width: 400px;
    transition: all 0.6s;
    z-index: 0;
}

#choice-box{
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
}

#choice-box label{
    letter-spacing: 0.75px;
    font-weight: 500;
    user-select: none;
}

#choice-box button{
    font-size: 20px;
    background-color: transparent;
    padding: 10px;
    transform: rotate(0);
}

#choice-box button:hover{
    padding: 10px;
    background-color: #d3d3d3;
    border-radius: 100%;
    margin: 0;
}

#choice-box button.rotated{
    transform: rotate(180deg);
}



#options{
    display: none;
    width: 340px;
    margin-top: 20px;
}

.choice-calculator{
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 0.75px;
    background-color: #d3d3d3;
    padding: 10px 20px;
    width: 340px;
    display: flex;
    border-radius: 100px;
    cursor: pointer;
}

.choice-calculator:hover{
    background-color: #858585;
}

