*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
}

body{
    height: 100vh;
    background-color: #06283D;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    background-color: #fff;
    padding: ;
}