#window-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window{
    width: 538px;
    min-height: 500px;
    background-color: #d8d8d8;
    border-radius: 30px;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.window-header{
    height: 50px;
    background-color: #616161;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 538px;
    cursor: pointer;
}

.window-header h3{
    color: #fff;
    margin-left: 30px;
    letter-spacing: 1.5px;
}

#position-size-calculator-window{
  display: flex;
}

.x-div{
    height: 100%;
    width: 70px;
    border-top-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-size: 28px;
}

.x-div:hover{
    background-color: #AC0000;
    height: 100%;
    width: 70px;
    border-top-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-size: 28px;
}

/*Input Styling*/

#psc-inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    margin-top: 25px;
    gap: 20px;
}

#psc-inputs h3{
    letter-spacing: 1px;
    user-select: none;
}

#position-size-title{
    display: flex;
}

#calculator-value{
    display: flex;
}

.inputs{
    width: 300px;
    padding: 15px 30px;
    border-radius: 50px;
}

#calculate-position{
    padding: 13px 25px;
    background-color: #131722;
    color: #fff;
    border-radius: 50px;
    font-size: 17px;
    border-width: 0 ;
}

#calculate-position:hover{
    background-color: #1317228e;
}

.container i{
    font-size: 100px;
    color: #fff;
    margin-bottom: 15px;
}